*.json

GCN2LY/checkpoints
GCN2LY/data
GCN2LY/model/__pycache__
GCN2LY/__pycache__
GCN2LY/.vscode
GCN2LY/.ipynb_checkpoints
GCN2LY/evaluator_output

RNN2LY/data
RNN2LY/model/__pycache__
RNN2LY/__pycache__
RNN2LY/.vscode
RNN2LY/.ipynb_checkpoints
RNN2LY/evaluator_output

TRAN2LY/data
TRAN2LY/model/__pycache__
TRAN2LY/__pycache__
TRAN2LY/.vscode
TRAN2LY/.ipynb_checkpoints
TRAN2LY/evaluator_output

Notebook/.ipynb_checkpoints
Notebook/garbage
Notebook/heat-map
Notebook/metrics
Notebook/pictures_output


